body {
	display: grid;
	grid-template-rows: 8rem  1fr;
	grid-template-columns: 20rem  1fr;

	width: auto;
	height: 100vh;
	margin: 0;

	--color1: #9A3B3B;
	--header-color: #214e58;
	--sidebar-color: #86e0e3e1;
	--container-color: #d8f8f8;
}

header{
	grid-column: 1 / -1;

	padding: 2.5rem 0 0 5rem;
	font-size: 3rem;

	width: 100%;
	background-color: var(--header-color);

	color: white;

	box-shadow: -25px 2px 20px 1px rgb(0, 0, 0);
	z-index: 1;
}

.sidebar {
	display: grid;
	grid-auto-rows: min-content;
	gap: 2rem;
	padding: 20px 0 0 2rem;

	background-color: var(--sidebar-color);
}

.container {
	display: grid;
	grid-auto-rows: min-content;
	gap: 2rem;
	padding: 20px 0 0 2rem;

	background-color: var(--container-color);
}